
body{
    background-color: rgb(108, 158, 141);
    }
    hr{
        border-style: none;
        border-top: dotted;
        border-color: lightblue; 
        border-width: 4px;
        width:30%
    }
    h1 {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      }
    